*        text=auto

*.java   text diff=java
*.html   text diff=html
*.css    text
*.js     text
*.xml    text
.travis.yml text

src/test/resources/web/htmlunit/newline.html binary
src/test/resources/web/htmlunit/newline2.html binary
src/test/resources/web/htmlunit/newline3.html binary